/* MLP Design (http://www.mlpdesign.tk) */

body
{ background:url(img/bg.gif) 0 0 repeat-x #ddd; color: #333;
  font-family: Arial,sans-serif; font-size:9pt;margin:0;}

h1
{font-size:14pt; font-weight:bold; margin-bottom:5px;}

h2
{font-size:8pt; font-weight:normal; padding-bottom: 5px; margin:0; text-transform:uppercase; border-bottom:#ccc 1px dashed;}

a:link, a:visited, a:active
{ background-color: inherit; color:#000; text-decoration: none;}

a:hover
{ background-color: inherit; text-decoration: none; color:#777; border-bottom:1px dotted;}

ul 
{ list-style:none; margin-left:10px; padding:1px;}

ul li
{ padding-left:15px; background: url(img/arw.gif) 0 3px no-repeat;}

blockquote
{ background:url(img/quote.gif)top left no-repeat #fff; padding-left: 30px; margin:0 50px;
  color:#aaa; font-size:9pt; font-weight:normal; text-align:justify;}
  
#header
{ width:750px; height:60px; margin:auto; padding-top:30px;
  font-size:22pt; font-weight:bold; letter-spacing:2px; text-transform:uppercase;}
  
#menu
{ width:755px; margin:auto; height:24px; border-top:#999 1px solid; border-bottom:#999 0 solid; border-left:#aaa 1px solid; font-size:9pt; clear:both;}  

#body
{ width:734px; margin: auto; padding:10px; background:#fff; color:inherit;
  border-right:#666 1px solid; border-bottom:#666 1px solid; border-left:#666 1px solid; }
  
#footer
{ padding:15px; font-size:8pt; border-top:#333 1px solid;}
  
.header
{ float:right; font-size:9pt; font-weight:normal; padding-top:10px; text-align:right; letter-spacing:0;}

.menu 
{ width:150px; height:24px; float:left; border-right:#aaa 1px solid; 
  font-family: Tahoma,sans-serif; text-align:center; text-transform:uppercase; }

.menu a:link, .menu a:visited, .menu a:active
{ background:#333; text-decoration: none; color:#eee;display:block; height:15px; padding-top:7px;
  font-weight:bold; font-size:7pt;}

.menu a:hover
{ background:#fff; text-decoration:none; color:#333; border:0;}

.submenu
{ float:right; font-size:8pt; font-weight:normal; margin:0 0 5px 0;}

.content
{ padding:20px; background-color:#fff; color:inherit; text-align:justify; border:#ccc 1px solid;}

.footer 
{ float:right; }

.spacer
{ clear:both; margin:15px;}